body {
    font-family: Arial, sans-serif;
    background-color: #80c6e7;
    margin: 0;
    padding: 0;
}

form {
    background-color: #ffffff;
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #000000;
}

label {
    font-size: 16px;
    margin-bottom: 1px;
    display: block;
}

input[type="text"],input[type="password"],  textarea, select{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input[type="radio"] {
    margin-right: 8px;
}

.phone-input {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.phone-input input {
    width: auto; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

hr {
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }
}